<div class="container-fluid custom-bg" [style.backgroundPosition]="center" [style.backgroundSize]="cover" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w500/' + imgBg + ')'">
    <div class=layer>
        <div class="container single-column">
            <section class="inner-img">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" *ngFor="let img of image; let i = index" src="https://image.tmdb.org/t/p/w500/{{img.file_path}}">
                    </div>
                    <div class="col-md-8">
                        <technical-movie></technical-movie>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<credits></credits>